@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f4f4f4;
  font-family: "Raleway", sans-serif;
}
h1 {
  font-weight: 400;
}
span {
  display: inline-block;
  padding: 4px;
}
.container,
.addEvent-wrap {
  padding: 0.25em 0.6em;
  display: flex;
  flex-direction: column;
  height: 35em;
  width: 47em;
  margin: 0 auto;
}
.month-header {
  width: 100%;
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}
#month {
  margin-right: 0.6em;
}
#UI {
  display: flex;
}
.calendar-grid {
  border-collapse: separate;
  border-spacing: 4px;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

table {
  height: 100%;
  width: 100%;
  display: table;
  border-color: grey;
  border-spacing: 4px;
  margin: 0px auto;
  border-collapse: separate;
  table-layout: fixed;
}

.header > td {
  text-align: center;
  background-color: #f4f4f4;
  color: #000;
}

tbody {
  background: rgb(235, 234, 234);
}

tbody > tr > td {
  text-align: right;
  vertical-align: top;
  padding: 0.3em;
}
/* Event Submission style */
.addEvent {
  margin: 0 auto;
}
.addEvent > [type="text"] {
  padding: 0.3rem;
}
.btn {
  padding: 8px 10px;
  background: coral;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
/* eventdate style */
.eventDate {
  background: #fafafa;
  color: #333;
}
.deleteBtn {
  font-size: 12px;
  padding: 2px;
  background: red;
  color: white;
  float: left;
  cursor: pointer;
}
