* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #eaeaee;
  color: black;
}
h1 {
  font-weight: 500;
  font-size: 2.5em;
  margin: 2em 0px;
  white-space: nowrap;
}
p {
  line-height: 1.8em;
  font-weight: 100;
  font-size: 1em;
  margin: 1.2em 0px;
}
a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/*Global Button Style*/
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 60px;
  padding: 10px 20px;
  background: #eaeaee;
  text-decoration: none;
  text-align: center;
  border: 2px solid #1470af;
  border-radius: 5px;
  color: #1470af;
  white-space: nowrap;
}
.btn:hover {
  background: #1470af;
  color: #eaeaee;
}
/*nav*/
nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 120px;
  padding: 20px 40px;
}
nav > .logo {
  position: absolute;
  margin: auto;
  font-weight: 300;
  font-size: 2.5em;
  white-space: nowrap;
}
.links-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  white-space: nowrap;
  width: 100%;
  margin-right: 3em;
}
li {
  margin: 0.5em;
  cursor: pointer;
  padding: 5px 10px;
}

.links-list > li:hover {
  font-weight: 500;
  background: #eaeaee5e;
  border-radius: 4px;
}
/* burger styling in nav bar  */
.menu-wrap {
  position: relative;
  top: 0px;
  left: 95%;
  background: #eaeaeea2;
  width: 50px;
  height: 50px;
  display: none;
}
.toggler {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
.burger {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-items: center;
  z-index: 1;
  transition: all 1s ease;
}
.burger > div {
  position: absolute;
  width: 100%;
  height: 2px;
  background: black;
  transition: all 0.3s ease;
}
.burger > div::before,
.burger > div::after {
  content: "";
  position: absolute;
  top: -10px;
  width: 100%;
  height: 2px;
  background: black;
}
.burger > div::after {
  top: 10px;
}
/* transform menu icon  */
.toggler:checked + .burger > div {
  transform: rotate(135deg);
}

.toggler:checked + .burger > div:before,
.toggler:checked + .burger > div:after {
  top: 0px;
  transform: rotate(90deg);
}
.toggler:checked ~ .menu-bar {
  display: block;
}

/* menu view for small screen when toggled */
.menu-bar {
  position: absolute;
  top: 85px;
  right: -40px;
  z-index: 25;
  background: #eaeaeeef;
  color: black;
  height: 100vh;
  width: 300px;
  display: none;
}
.links-menu {
  list-style: none;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}
.links-menu > li:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #1471af38;
  color: white;
}
.links-menu > li > a:hover {
  color: white;
}
.btn-menu {
  margin: 8em auto;
}
/* large immage banner */
.showcase {
  background: url("https://images.squarespace-cdn.com/content/v1/5e4bffac94c2c44a9438d3ab/1586532200186-YTC33MBPNIORQA173SOA/ke17ZwdGBToddI8pDm48kPTrHXgsMrSIMwe6YW3w1AZ7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0k5fwC0WRNFJBIXiBeNI5fKTrY37saURwPBw8fO2esROAxn-RKSrlQamlL27g22X2A/ih-winter-retreat-68.jpg?format=2500w");
  background-repeat: no-repeat;
  width: 100%;
  padding: calc(30em * (1 / 2));
  overflow: hidden;
  background-position: 20% 60%;
  background-size: 100%;
  z-index: -1;
  position: relative;
}
.showcase > .overlay {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  padding: calc(30em * (1 / 2));
  overflow: hidden;
  background: rgba(0, 0, 0, 0.171);
  z-index: 15;
  color: white;
}
.overlay > h1 {
  margin: -4em 0 0 -2em;
}
/* learn more section */
.learn-more {
  padding: 100px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1700px;
  margin: 4em auto;
  overflow: hidden;
}

.img-wrap {
  flex: 3;
  width: 100%;
  height: cover;
  margin-right: 2em;
}
.content-wrap {
  flex: 5;
}
.content-wrap > .btn {
  position: relative;
  margin: 3em auto;
}
/* video player */
.container {
  padding: 100px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1700px;
  margin: 4em auto;
  overflow: hidden;
}
video {
  height: 300px;
}

.controls {
  visibility: hidden;
  opacity: 0.5;
  width: 400px;
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -200px;
  background-color: black;
  box-shadow: 3px 3px 5px black;
  transition: 1s all;
  display: flex;
}

.player:hover .controls,
.player:focus .controls {
  opacity: 1;
}

@font-face {
  font-family: "HeydingsControlsRegular";
  src: url("fonts/heydings_controls-webfont.eot");
  src: url("fonts/heydings_controls-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/heydings_controls-webfont.woff") format("woff"),
    url("fonts/heydings_controls-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

button:before {
  font-family: HeydingsControlsRegular;
  font-size: 20px;
  position: relative;
  content: attr(data-icon);
  color: #aaa;
  text-shadow: 1px 1px 0px black;
}
.timer {
  line-height: 38px;
  font-size: 10px;
  font-family: monospace;
  text-shadow: 1px 1px 0px black;
  color: white;
  flex: 5;
  position: relative;
}

.timer div {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  left: 0;
  top: 0;
  width: 0;
  height: 38px;
  z-index: 2;
}

.timer span {
  position: absolute;
  z-index: 3;
  left: 19px;
}
/* upcoming events */
.events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.boxes-wrap {
  padding: 20px 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  max-width: 1700px;
}
.box-wrap > img {
  width: 100%;
  margin: 0 20px;
}
.boxes-content-wrap {
  padding: 0px 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  justify-items: center;
  width: 100%;
  max-width: 1700px;
}
.box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem 2rem;
}
.box-content > p {
  margin-top: 0px;
}
.join-btn {
  width: 200px;
}
/* instagram section  */
.instagram {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 300px 0px;
}
.ig-boxes {
  padding: 20px 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  max-width: 1700px;
}
.ig-box {
  background: black;
  width: 100%;
}
/* footer section */

footer {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background: #1470af;
  color: white;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  list-style: none;
}
.footer-links > li {
  height: 140px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  transition: all 0.5s ease;
  cursor: pointer;
  white-space: nowrap;
}

.footer-links > li:hover {
  background: white;
  color: #1470af;
  font-weight: bold;
}
/* media queries */
@media (max-width: 1100px) {
  body {
    font-size: 0.8em;
  }
  nav > .links-list,
  .btn-nav {
    display: none;
  }
  .overlay > h1 {
    margin: -2em 0 0 -6em;
    font-size: x-large;
  }

  .learn-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0;
  }
  .img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-wrap img {
    width: 80%;
    height: 80%;
  }
  .content-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 1em;
  }

  .boxes-content-wrap,
  .boxes-wrap {
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: center;
    width: 90%;
  }
  .ig-boxes {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: 1em;
  }
  .instagram .ig-box > img {
    width: 100%;
  }
  .menu-wrap {
    display: inline-block;
  }
}

/* style modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: black;
  opacity: 50%;
  z-index: 1;
  display: none;
}

.contactForm {
  position: absolute;
  left: 35%;
  top: 20%;
  background: #f4f4f4;
  padding: 20px;
  color: black;
  width: 400px;
  opacity: none;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}
.contactForm > h1 {
  margin: 0;
}
.contactForm > input {
  padding: 0.6rem 0.5rem;
  width: 80%;
  margin: 5px 0;
}
.close-btn {
  color: #ccc;
  float: right;
  font-size: 30px;
  align-self: flex-end;
}
.close-btn:hover,
.close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
